.container{
  margin: 0;
  padding: 0;

}
.main{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  height:auto;
}
.body{
 display: flex;
 gap: 30px;
 padding: 30px;
}
.body .child1 .navbar{
  display: flex;
  justify-content:space-evenly;
 
}
ul li{
  display: inline;
  text-decoration: none;
  padding: 10px;
}
ul li a{
  text-decoration: none;
  
}
.content{
  display: flex;
  gap: 25px;
}
.content .right .one{
  display: flex;
  gap: 8px;
}
.content .right .one .div img{
  margin-top: 12px;
}
.body .child2{
  margin-top: -17px;
}
.body .child2 h3{
  background-color: black;
  color: white;
  width: 140px;
  height: 8vh;
  display: flex;
  align-items: center;

}

.body .child2 .fb{
  display: flex;
  gap: 15px;
}